{% extends 'base.html.twig' %}

{% block title %}MaterielSoiree index{% endblock %}

{% block body %}
    <h1>MaterielSoiree index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Soiree</th>
                <th>Matériel</th>
                <th>Quantite</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for materiel_soiree in materiel_soirees %}
            <tr>
                <td>{{ materiel_soiree.soiree.nom }}</td>
                <td>{{ materiel_soiree.materiel.nom }}</td>

                <td>{{ materiel_soiree.quantite }}</td>
                <td>
                    <a href="{{ path('app_materiel_soiree_show', {'id': materiel_soiree.id}) }}">show</a>
                    <a href="{{ path('app_materiel_soiree_edit', {'id': materiel_soiree.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_materiel_soiree_new') }}">Create new</a>
{% endblock %}
